-provide(:title, 'edit profile')
.row
  .col-xs-offset-4.col-sm-offset-4.col-md-offset-4.col-lg-offset-4.col-xs-4
    %h2{class: 'text-center'} 
      Edit #{resource_name.to_s.humanize}
    %hr
 
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
      -# = devise_error_messages!

      = f.input :first_name
      = f.input :last_name 
      = f.input :email  
       
      = f.input :password, required: false 
      = f.input :password_confirmation, required: false 
      .form-group 
        = f.button :submit, class: 'btn btn-primary btn-block' do 
          %span{class: "glyphicon glyphicon-edit", aria: {hidden: "true"}} 
          Edit Profile 
   
    %ul{class: 'edit-ul'} 
      %li{class: 'edit-list'} Unhappy? #{link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?'}, method: :delete} 
      %li{class: 'edit-list'}= link_to "Back", :back
      %li{class: 'edit-list'}=link_to 'edit password',  edit_user_password_path 
