
- provide(:title, "video list")
.jumbotron
  .container
    %h1 Share your videos with the world!
    %p Click the button below to share your video from YouTube or upload your own video.
    %p
      = link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg'
      = link_to 'upload video now!', '#', class: 'btn btn-primary btn-lg'
- if @videos.any?
  %div{class: "container"} 
    %h2{class: 'text-center'} Latest videos
    %hr
  
    #player-wrapper
    - @videos.in_groups_of(3) do |group|
      .row
        - group.each do |video|
          - if video
            .col-md-4
              %div{ class: "thumbnail"}
                .embed-responsive.embed-responsive-16by9
                  = image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_video img-rounded', :"data-uid" => video.uid  
                .caption
                  %h6= video.title
                  %p 
                    Author: 
                    =video.author
                  %p
                    Duration:
                    =video.duration 
                  %p
                    Published at #{video.published_at.strftime('%-d %B %Y %H:%M:%S')}
                  -if !current_user.nil? && current_user.provider == 'google_oauth2'
                    %p
                      %span.glyphicon.glyphicon.glyphicon-thumbs-up
                      = video.likes
                      %span.glyphicon.glyphicon.glyphicon-thumbs-down
                      = video.dislikes
                  =link_to "Comment", video_path(video.id), class: "text-center"
             