- provide(:title, "Video detail")
- if !current_user.nil? && current_user.provider=="google_oauth2"
  -account = Yt::Account.new refresh_token: current_user.auth_token
  -yt_video = Yt::Video.new id: @video.uid, auth: account

    
.row      
  - if @video
    .col-md-4.col-md-offset-2#show-video
      .thumbnail#show-video
        .embed-responsive.embed-responsive-16by9
          %iframe{class: "embed-responsive-item", src: "http://www.youtube.com/embed/#{@video.uid}", :allowfullscreen => "true"}
        .caption
          %h6= @video.title
          %p
            Published at #{@video.published_at.strftime('%-d %B %Y %H:%M:%S')}
          -if !current_user.nil? && current_user.provider == 'google_oauth2'
            %p
              %span.glyphicon.glyphicon.glyphicon-thumbs-up
              = @video.likes
              %span.glyphicon.glyphicon.glyphicon-thumbs-down
              = @video.dislikes
          =link_to "<< Back to videos", videos_path