
%nav{class: 'navbar navbar-fixed-top navbar-inverse', role: "navigation"}
	
	.navbar-header 
		%button{ type: "button", class: "navbar-toggle", data: {toggle: "collapse", target: ".navbar-ex1-collapse"}}
			%span{class: "icon-bar"}
			%span{class: "icon-bar"}
			%span{class: "icon-bar"}
			%span{class: 'icon-bar'}
		= link_to 'DEVELOP SAGAN', root_path ,class: "navbar-brand active"
	.collapse.navbar-collapse.navbar-ex1-collapse
		%ul{class: "nav navbar-nav navbar-right btn-group"}
			-# %li= link_to "Home", root_path
			-if current_user 
				-if !current_user.image.blank? 
					%li=image_tag current_user.image, id: 'nav-image', class: "img-circle"
				-else
					%li{class: 'glyphicon glyphicon-user nav-glyphicon', id: 'nav-image'}
				%li= link_to "Edit Profile", edit_user_registration_path
				%li= link_to "Log out", destroy_user_session_path, method: :delete 
			-else 
				%li= link_to "Sign up", new_user_registration_path
				%li= link_to "Log in ", new_user_session_path
				%li= link_to "Login with twitter", user_twitter_omniauth_authorize_path 
				%li= link_to "Login with facebook", user_facebook_omniauth_authorize_path

