-provide(:title, @photo.name)

.row.well.well-lg.show-well
	.col-md-offset-3.col-sm-offset-2.col-sm-6.col-md-4.img-responsive
		%h4{class: "text-center google-font-tangerine"}
			=@photo.name
		=image_tag @photo.image_url(:thumb).to_s, class: 'img-thumbnail'
		- meta twitter: { card: "summary_large_image", site: @salemA6, creator: @salemA6, title: @photo.name, description: @photo.description, image: "#{@photo.image_url(:thumb).to_s}" }
		- meta og: { url:  "https://develop-sagan.herokuapp.com/photos/#{@photo.id}", type: 'website', title: 'Develop Sagan', description: @photo.description, image: "#{@photo.image_url(:thumb).to_s}" }
		- meta fa: {app_id: "#{ENV['FACEBOOK_API_ID']}" } 
		- meta og: { image: [{width: 450},height: 298}] 

		%p{id: 'share-paragraph ', class: "text-center"}
			
			=link_to "https://twitter.com/intent/tweet?url=https://develop-sagan.herokuapp.com/photos/#{@photo.id}", class: 'btn btn-primary btn-xs btn-share' do 
				%span Tweet
				=fa_icon 'twitter', class: 'fa-1x'
			
			=link_to "https://www.facebook.com/sharer.php?u=https://develop-sagan.herokuapp.com/photos/#{@photo.id}", class: "btn btn-primary btn-xs btn-share" do 
				%span Share
				=fa_icon 'facebook', class: 'fa-1x'

	.col-md-offset-3.col-sm-offset-2.col-sm-8
		#posts
			- if !@posts.empty?
				= nested_posts @posts.arrange(:order => :created_at)
			-else
				.page-header 
					%h4.text-center#no-discussion You are the first person to start the discussion!
		=render 'shared/post_form'
		%ul{class: "link-list"}
			%li{class: "link-list-item"} 
				=link_to photos_path do 
					=fa_icon 'angle-double-left', class: 'fa-1x'
					Back to photos
			%li{class: "link-list-item", id: 'new-comment-id'}
				=link_to 'New Comment',  new_photo_post_path(:photo_id =>@photo.id), remote: true, data: {turbolinks: false }
			
			