.message
	.created_at
		= post.created_at.strftime("%B %d, %Y") 
	.content
		= link_to post.content, post
  
	%div{class: "actions", id: "reply_#{post.id}"}
		= link_to "Reply", new_photo_post_path(:parent_id => post, :photo_id => post.photo_id), remote: true,  id: "reply_new_link"
		|
		= link_to "Destroy", post, :confirm => "Are you sure?", :method => :delete  