!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{name:  "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/
		%title= full_title(yield(:title))
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster|Pacifico"  
		= render 'layouts/shim'
	%body
		=render 'shared/header'
		.container
			-flash.each do |key, msg|
				- unless key =='timedout'
					= content_tag :aside, msg, class: "alert alert-#{key == 'notice' ? 'info' : 'danger'}"
					%a{href: "#", class: "close", "data-dismiss" => "alert", "aria-label" => "close"} &times;
			= yield
			-# = debug(params) if Rails.env.development? 
		=render 'shared/footer'
