!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{name:  "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/
		%title Mysite
		= csrf_meta_tags
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		=render 'shared/header'
		.container#application-layout
			-flash.each do |name, msg|
				= content_tag :div, msg, class: "alert #{flash_to_css(name)}"
				%a{href: "#", class: "close", "data-dismiss" => "alert", "aria-label" => "close"} &times;

			= yield
		=render 'shared/footer'
