!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{name:  "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}/
		%title= full_title(yield(:title))
		= csrf_meta_tags
		= metamagic
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload', async: true
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true
		= javascript_include_tag "https://www.google.com/jsapi"
		= javascript_include_tag "https://www.youtube.com/iframe_api"
		= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lobster|Pacifico"  
		= render 'layouts/shim'
	%body
		.container-fluid
			- flash.each do |key, msg|
				-unless key =='timedout'
					=content_tag(:aside, class: "alert alert-#{key == 'notice' ? 'info' : 'danger'}") do 
						#{msg}
						%a{href: "#", class: "close", "data-dismiss" => "alert", "aria-label" => "close"} &times;
			= yield
		= render 'shared/footer'